.button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 1.3rem;
    color: white;
    line-height: 0;
    min-width: 2.5rem;
}

.inverted {
    background-color: white;
    border: 2px solid rgb(26, 26, 26);
    color: rgb(26, 26, 26);
    transition: all 0.1s linear;
}

.inverted:hover {
    background-color: rgb(200, 200, 200);
    transition: all 0.1s linear;
}

.normal {
    background-color: rgb(26, 26, 26);
    color: white;
    transition: all 0.1s linear;
}

.normal:hover {
    background-color:rgba(50, 50, 50);
    transition: all 0.1s linear;
}